@model EPMS.WorkFlow.Web.ViewModels.Dashboard.DashboardViewModel
@{
    ViewBag.Title = "Home Page";
}


@section Styles {

    <style type="text/css">
        /*============================*/
        /*Tile view css ribbon */
        /*=============================*/

        .ssi-tile-view {
            width: 100%;
            /*overflow: hidden;*/
            color: #fff;
            margin-bottom: 7px;
        }

            .ssi-tile-view:after {
                content: '';
                display: block;
                clear: both;
            }

            .ssi-tile-view .ssi-tile-view-header {
                /*overflow: hidden;*/
            }

                .ssi-tile-view .ssi-tile-view-header:after {
                    content: '';
                    display: block;
                    clear: both;
                }

            .ssi-tile-view .ssi-tile-section-holder {
                /*overflow: hidden;*/
            }

                .ssi-tile-view .ssi-tile-section-holder:after {
                    content: '';
                    display: block;
                    clear: both;
                }

                .ssi-tile-view .ssi-tile-section-holder h2,
                .ssi-tile-view .ssi-tile-view-header h1 {
                    font-size: 14px;
                    color: #8394a6;
                    font-weight: bold;
                    margin: 0 12px 11px;
                }

                .ssi-tile-view .ssi-tile-section-holder .ssi-icon-holder {
                    float: left;
                    margin-right: 3px;
                    line-height: 16px;
                }

                    .ssi-tile-view .ssi-tile-section-holder .ssi-icon-holder span {
                        cursor: default;
                    }

                .ssi-tile-view .ssi-tile-section-holder .ssi-tile-item {
                    float: left;
                    padding: 0;
                }

                    .ssi-tile-view .ssi-tile-section-holder .ssi-tile-item .sub-fact,
                    .ssi-tile-view .ssi-tile-section-holder .ssi-tile-item .fact {
                        color: #d1dae5;
                        /*font-weight: bold;*/
                    }

                    .ssi-tile-view .ssi-tile-section-holder .ssi-tile-item .sub-fact {
                        display: block;
                        font-size: 15px;
                        line-height: 18px;
                        color: #d1dae5;
                        font-weight: normal;
                    }

                        .ssi-tile-view .ssi-tile-section-holder .ssi-tile-item .sub-fact span {
                            color: #8394a6;
                            font-size: 12px;
                            line-height: 18px;
                        }

                /*.ssi-tile-view .ssi-tile-section-holder .ssi-tile-viewHeader {
            overflow: hidden;
            height: 30px;

            position:relative;
        }*/

                .ssi-tile-view .ssi-tile-section-holder h2 {
                    margin: 0;
                    height: 30px;
                    line-height: 16px;
                    margin: 5px 12px 15px;
                    /*position:absolute;
            left:17px;
            top:1px;*/
                }

                    .ssi-tile-view .ssi-tile-section-holder h2 .description {
                        line-height: 16px;
                        margin-left: 18px;
                    }

                .ssi-tile-view .ssi-tile-section-holder .ssi-tile-section {
                    border-left: 7px solid #f3f3f3;
                    float: left;
                    padding: 0 0;
                    background: #323941;
                    /*position:relative;*/
                }

                    .ssi-tile-view .ssi-tile-section-holder .ssi-tile-section .ssi-tile-section-block {
                        border-top-width: 5px;
                        border-top-style: solid;
                        /*border-top-color:#ed7d31;*/
                        /*overflow: hidden;*/
                        padding: 10px 0 5px;
                        /*min-height: 128px;
                max-height:128px;*/
                        height: 128px;
                        position: relative;
                    }

                        .ssi-tile-view .ssi-tile-section-holder .ssi-tile-section .ssi-tile-section-block:after {
                            content: '';
                            display: block;
                            clear: both;
                        }


                        .ssi-tile-view .ssi-tile-section-holder .ssi-tile-section .ssi-tile-section-block.active {
                            background: #4d5865;
                        }

                            .ssi-tile-view .ssi-tile-section-holder .ssi-tile-section .ssi-tile-section-block.active:after {
                                position: absolute;
                                bottom: -10px;
                                left: 50%;
                                height: 10px;
                                width: 12px;
                                content: '';
                                background: url("images/sprite.png") no-repeat -283px -394px;
                            }


                    .ssi-tile-view .ssi-tile-section-holder .ssi-tile-section:first-child {
                        border-left: none;
                    }

        .border-color-Ronchi {
            border-top-color: #f2d34b;
        }

        .border-color-Jaffa {
            border-top-color: #ed7d31;
        }

        .border-color-Carnation {
            border-top-color: #f75d49;
        }

        .border-color-Sulu {
            border-top-color: #b5e866;
        }

        .border-color-Keppel {
            border-top-color: #32ae90;
        }

        .border-color-FruitSalad {
            border-top-color: #569956;
        }

        .border-color-TurquoiseBlue {
            border-top-color: #62e9db;
        }


        .border-color-BlueChill {
            border-top-color: #1076a1;
        }

        .border-color-Sandybrown {
            border-top-color: #f0ad4e;
        }

        .border-color-ChestnutRose {
            border-top-color: #CF5353;
        }

        .border-color-TulipTree {
            border-top-color: #F0B143;
        }

        .border-color-MountainMeadow {
            border-top-color: #1CAD99;
        }

        .border-color-FruitSalad {
            border-top-color: #569956;
        }

        .border-color-Wisteria {
            border-top-color: #9b59b6;
        }

        .border-color-Shakespeare {
            border-top-color: #54acd2;
        }


        .border-dash {
            border: 2px dashed #ccc;
        }

            .border-dash .ui-iguploadmultiple {
                border: none;
            }





        .ssi-tile-view .ssi-tile-section-holder .ssi-tile-itemHolder {
            overflow: hidden;
            width: 100%;
            display: table;
            padding: 0 12px 0;
        }

        .ssi-tile-view .ssi-tile-section-holder .ssi-tile-item {
            float: none;
            display: table-cell;
            vertical-align: top;
            white-space: nowrap;
            overflow: hidden;
            min-height: 53px;
        }

        .ssi-tile-view .ssi-tile-section-holder .ssi-tile-centerItem {
            display: inline-block;
            vertical-align: bottom;
        }

        .ssi-tile-view .ssi-tile-section-holder .fact {
            font-size: 20px;
            display: block;
            line-height: 27px;
        }

        .ssi-tile-view .ssi-tile-section-holder .description {
            font-size: 12px;
            color: #8394a6;
            display: block;
        }

            .ssi-tile-view .ssi-tile-section-holder .description.text-white {
                color: #d1dae5;
            }

            .ssi-tile-view .ssi-tile-section-holder .ssi-tile-item .sub-fact span,
            .ssi-tile-view .ssi-tile-section-holder .ssi-tile-item .fact span,
            .ssi-tile-view .ssi-tile-section-holder .description span {
                display: inline-block;
                margin-left: 7px;
                text-align: left;
                vertical-align: top;
                width: 15px;
            }

        .ssi-tile-view.swf-total {
        }

            .ssi-tile-view.swf-total .ssi-tile-section-holder .total {
                float: left;
                width: 50%;
            }

            .ssi-tile-view.swf-total .ssi-tile-section-holder .fact {
                font-size: 38px;
                line-height: 34px;
            }

            .ssi-tile-view.swf-total .ssi-tile-section-holder .description {
                line-height: 17px;
                text-transform: uppercase;
            }

            .ssi-tile-view.swf-total .ssi-tile-section-holder .ssi-tile-item {
                display: inherit;
                float: right;
                width: 50%;
            }
    </style>

}

<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">
    <!-- Small boxes (Stat box) -->
    @*<div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>150</h3>
                        <p>New Orders</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>53<sup style="font-size: 20px">%</sup></h3>
                        <p>Bounce Rate</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>44</h3>
                        <p>User Registrations</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>65</h3>
                        <p>Unique Visitors</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>

        @*<div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Hover Data Table</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-striped table-bordered" cellspacing="0" width=" 100%;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Languages</th>
                                    <th>Skills</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>*@
    <!-- /.row -->

    <div class="row">
        <div class="col-xs-12">
            <div class="ssi-tile-view swf-total" id="tblShftSelOverallSummaryResult" style="margin-bottom:15px;">
                <div class="ssi-tile-section-holder">
                    <div style="width: 33.3%;" class="ssi-tile-section infoTile" data-id="Requests">
                        <div class="ssi-tile-section-block border-color-ChestnutRose">
                            <h2>
                                <strong class="ssi-icon-holder"><span class="ssi-icon-sequests"></span></strong>Requests<span class="description">&nbsp;</span>
                            </h2>
                            <div class="ssi-tile-itemHolder">
                                <div class="total">
                                    <span class="fact"> @((Model.Request.info1 + Model.Request.info2)) </span>
                                    <span class="description">Total</span>
                                </div>
                                <div id="Requests" class="ssi-tile-item">
                                    <span class="description">@Model.Request.info1  Pending </span>
                                    <span class="description">@Model.Request.info2  In Progress</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 33.3%;" class="ssi-tile-section infoTile" data-id="Worklists">
                        <div class="ssi-tile-section-block border-color-TulipTree">
                            <h2>
                                <strong class="ssi-icon-holder"><span class="ssi-icon-worklist"></span></strong>Worklist<span class="description">&nbsp;</span>
                            </h2>
                            <div class="ssi-tile-itemHolder">
                                <div class="total">
                                    <span class="fact">@((Model.Worklist.info1 + Model.Worklist.info2))</span>
                                    <span class="description">Total</span>
                                </div>
                                <div id="Worklists" class="ssi-tile-item">
                                    <span class="description">@Model.Worklist.info1 Active</span>

                                    <span class="description">@Model.Worklist.info2 Expired</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="width: 33.3%;" class="ssi-tile-section infoTile" data-id="Assignments">
                        <div class="ssi-tile-section-block border-color-Wisteria">
                            <h2>
                                <strong class="ssi-icon-holder"><span class="ssi-icon-survey"></span></strong>Assignments<span class="description">&nbsp;</span>
                            </h2>
                            <div class="ssi-tile-itemHolder">
                                <div class="total">
                                    <span class="fact">@((Model.Assignment.info1 + Model.Assignment.info2))</span>
                                    <span class="description">Total</span>
                                </div>
                                <div class="ssi-tile-item" id="Assignments">
                                    <span id="" class="description">@Model.Assignment.info1 In Progress</span>

                                    <span class="description"> @Model.Assignment.info2 Completed</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-6">
            <!-- DONUT CHART -->
            <!-- DONUT CHART -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Request Chart</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <canvas id="pieChart" style="height:250px"></canvas>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>

        <div class="col-md-6">
            <!-- DONUT CHART -->
            <!-- DONUT CHART -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Worklist Status Chart</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <canvas id="worklist-pieChart" style="height:250px"></canvas>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->

</section>



@section Scripts {



    @Scripts.Render("~/Scripts/pages/dashboard.js")
    <script type="text/javascript">
        debugger;
        var pendingRequest = "@Model.Request.info1";
        var inProgressRequest = "@Model.Request.info2";
        var worklistChartInfo = {
            Pending: "@Model.WorklistChartInfo.Pending",
            WIP: "@Model.WorklistChartInfo.WIP",
            Cancelled: "@Model.WorklistChartInfo.Cancelled",
            Completed: "@Model.WorklistChartInfo.Completed",
        }

        /* $('#example2').DataTable({
             'paging': true,
             'lengthChange': false,
             'searching': false,
             'ordering': true,
             'info': true,
             'autoWidth': false
         })
         */
        $('#example2').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Home/CustomerList",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Name", "name": "Name", "autoWidth": true },
                { "data": "Age", "name": "Age", "autoWidth": true },
                { "data": "Languages", "name": "Languages", "autoWidth": true },
                { "data": "Skills", "name": "Skills", "autoWidth": true },
            ],
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });

        createWorklistChart();

        //-------------
        //- PIE CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.
        var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
        var pieChart = new Chart(pieChartCanvas)
        var PieData = [
            {
                value: pendingRequest,
                color: '#f56954',
                highlight: '#f56954',
                label: 'Pending'
            },
            {
                value: inProgressRequest,
                color: '#00a65a',
                highlight: '#00a65a',
                label: 'In Progress'
            },
            /*{
                value: 400,
                color: '#f39c12',
                highlight: '#f39c12',
                label: 'FireFox'
            },
            {
                value: 600,
                color: '#00c0ef',
                highlight: '#00c0ef',
                label: 'Safari'
            },
            {
                value: 300,
                color: '#3c8dbc',
                highlight: '#3c8dbc',
                label: 'Opera'
            },
            {
                value: 100,
                color: '#d2d6de',
                highlight: '#d2d6de',
                label: 'Navigator'
            }*/
        ]
        var pieOptions = {
            //Boolean - Whether we should show a stroke on each segment
            segmentShowStroke: true,
            //String - The colour of each segment stroke
            segmentStrokeColor: '#fff',
            //Number - The width of each segment stroke
            segmentStrokeWidth: 2,
            //Number - The percentage of the chart that we cut out of the middle
            percentageInnerCutout: 50, // This is 0 for Pie charts
            //Number - Amount of animation steps
            animationSteps: 100,
            //String - Animation easing effect
            animationEasing: 'easeOutBounce',
            //Boolean - Whether we animate the rotation of the Doughnut
            animateRotate: true,
            //Boolean - Whether we animate scaling the Doughnut from the centre
            animateScale: false,
            //Boolean - whether to make the chart responsive to window resizing
            responsive: true,
            // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: true,
            //String - A legend template
            legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<segments.length; i++){%><li><span style="background-color:<%=segments[i].fillColor%>"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>'
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        pieChart.Doughnut(PieData, pieOptions);


        function createWorklistChart() {
            var pieChartCanvas = $('#worklist-pieChart').get(0).getContext('2d')
            var pieChart = new Chart(pieChartCanvas)
            var PieData = [
                {
                    value: parseInt(worklistChartInfo.Pending,10),
                    color: '#f56954',
                    highlight: '#f56954',
                    label: 'Pending'
                },
                {
                    value: parseInt(worklistChartInfo.WIP, 10),
                    color: '#00a65a',
                    highlight: '#00a65a',
                    label: 'WIP'
                },
                {
                    value: parseInt(worklistChartInfo.Cancelled, 10),
                    color: '#f39c12',
                    highlight: '#f39c12',
                    label: 'Cancelled'
                },
                {
                    value: parseInt(worklistChartInfo.Completed, 10),
                    color: '#00c0ef',
                    highlight: '#00c0ef',
                    label: 'Completed'
                },
                /*{
                    value: 400,
                    color: '#f39c12',
                    highlight: '#f39c12',
                    label: 'FireFox'
                },
                {
                    value: 600,
                    color: '#00c0ef',
                    highlight: '#00c0ef',
                    label: 'Safari'
                },
                {
                    value: 300,
                    color: '#3c8dbc',
                    highlight: '#3c8dbc',
                    label: 'Opera'
                },
                {
                    value: 100,
                    color: '#d2d6de',
                    highlight: '#d2d6de',
                    label: 'Navigator'
                }*/
            ]
            var pieOptions = {
                //Boolean - Whether we should show a stroke on each segment
                segmentShowStroke: true,
                //String - The colour of each segment stroke
                segmentStrokeColor: '#fff',
                //Number - The width of each segment stroke
                segmentStrokeWidth: 2,
                //Number - The percentage of the chart that we cut out of the middle
                percentageInnerCutout: 50, // This is 0 for Pie charts
                //Number - Amount of animation steps
                animationSteps: 100,
                //String - Animation easing effect
                animationEasing: 'easeOutBounce',
                //Boolean - Whether we animate the rotation of the Doughnut
                animateRotate: true,
                //Boolean - Whether we animate scaling the Doughnut from the centre
                animateScale: false,
                //Boolean - whether to make the chart responsive to window resizing
                responsive: true,
                // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: true,
                //String - A legend template
                legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<segments.length; i++){%><li><span style="background-color:<%=segments[i].fillColor%>"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>'
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            pieChart.Doughnut(PieData, pieOptions);
        }
    </script>
}
